@model SySDEAProject.Models.Fiscal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fiscal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.Email)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.Endereco.cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.Endereco.cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.Endereco.rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.Endereco.rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.Endereco.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.Endereco.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.Endereco.complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.Endereco.complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.Endereco.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.Endereco.bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.Endereco.municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.Endereco.municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.Endereco.uf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.Endereco.uf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.tel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.tel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.tel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.tel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.dataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.dataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.siape)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.siape)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Alterar", new { id = Model.Id }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
