@model SySDEAProject.Models.Locutor

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir isto?</h3>
<div>
    <h4>Locutor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ocupacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ocupacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel2)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>
