@model IEnumerable<SySDEAProject.Models.Locutor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ocupacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ocupacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel2)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id=item.idLocutor }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.idLocutor }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.idLocutor })
        </td>
    </tr>
}

</table>
