@model SySDEAProject.Models.Empresa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.razaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEmpresa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
