@model SySDEAProject.Models.Horario

@{
    ViewBag.Title = "Consultar agendamento ativo";
}

<h2>Consultar Agendamento Ativo</h2>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Local
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalEntidade.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Model.data.Value.Date.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayName("Hora")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data.Value.TimeOfDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status, "CustomStatusHorario")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sala)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cancelar", "PilotoCancelaAgendamento", new { id = Model.idHorario }) |
    @Html.ActionLink("Voltar ao painel", "PainelUsuario", "Manage") |
    @Html.ActionLink("Contatar entidade", "ContatarEntidade")
</p>
