@model SySDEAProject.Models.CriarHorarioViewModel

@{
    ViewBag.Title = "Criar horário";
}

<h2>Criar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Horário</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h3 class="text-danger">@ViewBag.StatusMessage</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="datefield" data-val="true" data-val-required="Date is required"
                       id="data" name="data" type="date" value=@DateTime.Now.Date />
                @Html.ValidationMessageFor(model => model.data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="time" data-val="true" id="hora" name="hora" value="@DateTime.Now.TimeOfDay."/>
                @Html.ValidationMessageFor(model => model.hora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sala, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("sala",null,  htmlAttributes : new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.sala, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("idLocalEntidade", "Filial", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idLocalEntidade", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idLocalEntidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("idAvaliador1", "Avaliador 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idAvaliador1", null, "--Não definido--", htmlAttributes: new { @class = "form-control", @name = "idAvaliador1" })
                
            </div>
        </div>


        <div class="form-group">
            @Html.Label("idAvaliador2", "Avaliador 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idAvaliador2", null,"--Não definido--", htmlAttributes: new { @class = "form-control", @name="idAvaliador2" })
                <span class="text-danger">@ViewBag.MsgAvaliadoresIguais</span>
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar à lista", "agendamentos") <br />
    Clique @Html.ActionLink("aqui","criarHorarioFechado") para criar um horário já reservado para um piloto
</div>
