@model SySDEAProject.Models.Horario
@{
    ViewBag.Title = "DetalheHorario";
}

<h2>DetalheHorario</h2>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocalEntidade.Endereco.rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalEntidade.Endereco.rua)
        </dd>
        @*
    @if (User.IsInRole("Piloto") == false)
    {
    <dt>
        @Html.DisplayNameFor(model => model.Piloto.UserPessoa.nome)
    </dt>

    <dd>
        @if (Model.Piloto != null)
        {
        @Html.ActionLink(Model.Piloto.UserPessoa.nome, "ConsultarPiloto", new { id = Model.Piloto_id })
        }
    </dd>
    }*@

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Model.data.Value.Date.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayName("Hora")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data.Value.TimeOfDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status, "CustomStatusHorario")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sala)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Agendar", "Agendar", new { id = Model.idHorario }) |
    @Html.ActionLink("Voltar ao Painel", "Painel")
</p>
