@model SySDEAProject.Models.Horario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Entidade")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalEntidade.Entidade.nome)
        </dd>

        <dt>
            @Html.DisplayName("Filial")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalEntidade.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Piloto.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Piloto.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status, "CustomStatusHorario")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sala)
        </dd>

    </dl>
</div>
<p>   
    @Html.ActionLink("Voltar à lista", "Agendamentos")
</p>
