@model IEnumerable<SySDEAProject.Models.Horario>
@{
    ViewBag.Title = "Horarios por Entidade";
}


<h2>Horarios para @Model.First().LocalEntidade.titulo</h2>

<table class="table">
    <tr>        
        <th>Filial</th>
        <th>
            @Html.DisplayNameFor(model => model.data.Value.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data.Value.TimeOfDay)
        </th>


    </tr>

    @foreach (var item in Model)
    {

        var color = "#fff";
        if (item.status == 3)
        {
            color = "red";
        }
        if (item.status == 2)
        {
            color = "orange";
        }
        else if (item.status == 1)
        {
            color = "green";
        }

        <tr style = "color: @color" >
            <td>@item.LocalEntidade.titulo</td>
            <td> @item.data.Value.ToShortDateString()</td>
            <td>
                <div>
                    @Html.ActionLink(item.data.Value.TimeOfDay.ToString(), "DetalheHorario", new { id = item.idHorario }, new { style = "color:"+ color })
                </div>
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Voltar", "BuscaHorario")