@model SySDEAProject.Models.Avaliador

@{
    ViewBag.Title = "Create";
}

<h2>Criar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Avaliador</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.dtInicioAtividade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="datefield" data-val="true" data-val-required="Date is required"
                       id="dtInicioAtividade" name="dtInicioAtividade" type="date" value=@DateTime.Now.Date />
                @Html.ValidationMessageFor(model => model.dtInicioAtividade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emAtividade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.emAtividade)
                    @Html.ValidationMessageFor(model => model.emAtividade, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataDeValidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="datefield" data-val="true" data-val-required="Date is required"
                       id="dataDeValidade" name="dataDeValidade" type="date" value=@DateTime.Now.Date />
                @Html.ValidationMessageFor(model => model.dataDeValidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipoAvaliador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="tipoAvaliador">
                    <option value="1">ELE</option>
                    <option value="2">SME</option>
                    <option value="3">ELE + SME</option>
                </select>
                @Html.ValidationMessageFor(model => model.tipoAvaliador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dtConclusaoCurso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="datefield" data-val="true" data-val-required="Date is required"
                       id="dtConclusaoCurso" name="dtConclusaoCurso" type="date" value=@DateTime.Now.Date />
                @Html.ValidationMessageFor(model => model.dtConclusaoCurso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
