@model SySDEAProject.Models.Avaliador

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Tem certeja que deseja excluir este avaliador?</h3>
<div>
    <h4>Avaliador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.nome)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.UserPessoa.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPessoa.Email)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.dtInicioAtividade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtInicioAtividade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emAtividade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emAtividade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataDeValidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataDeValidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoAvaliador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoAvaliador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtConclusaoCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtConclusaoCurso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>
