@model SySDEAProject.Models.Piloto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Piloto</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
           
        </dt>

        <dd>
            @if (Model.ImagemPiloto != null)
            {
                <img width="300" height="400" src="data:image;base64,@System.Convert.ToBase64String(Model.ImagemPiloto.arquivo)" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANACPiloto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANACPiloto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nivelAtual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nivelAtual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telContato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telContato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.razaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.razaoSocial)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
