@model IEnumerable<SySDEAProject.Models.ParteOriginal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VersaoOriginal.idVersaoOriginal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroParte)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoOriginal.idVersaoOriginal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroParte)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idParteOriginal }) |
            @Html.ActionLink("Details", "Details", new { id=item.idParteOriginal }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idParteOriginal })
        </td>
    </tr>
}

</table>
