<h3>Administrador</h3>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Pilotos", "Index", "Pilotos", null, new { title = "Ver lista de pilotos cadastrados no sistema" })</h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Entidades", "Index", "Entidades",null, new { title = "Ver lista de entidades examinadoras cadastradas no sistema" })</h2>

    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Fiscais", "Index", "Fiscais", null, new { title = "Ver lista de fiscais cadastrados no sistema" })</h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Avaliadores", "Index", "Avaliadores", null, new { title = "Ver lista de avaliadores cadastrados no sistema" })</h2>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Empresas", "Index", "Empresas", null, new { title = "Ver lista de empresas aéreas cadastradas no sistema" })</h2>
    </div>
    </div>
    <br />
