
<h2>Entidade</h2>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Agendamentos", "agendamentos", "Horarios", null, new { title = "Visualizar agenda da entidade" })</h2>
        <p>
            Visualizar agenda da entidade
        </p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Agendamentos do dia", "agendamentosDoDia", "Horarios", null, new { title = "Visualizar agenda da entidade" })</h2>
        <p>
            Visualizar horários agendados para hoje
        </p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Listar filiais", "Listar", "LocaisEntidades", null, new { title = "Ver filiais da entidade" })</h2>
        <p>
            Visualizar filiais existentes da entidade
        </p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Novo Horário", "Criar", "Horarios", null, new { title = "Abrir novo horário para agendamento" })</h2>
        <p>
            Criar novo horário para agendamento
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Consultar avaliadores", "AvaliadoresDaInstituicao", "Avaliadores", null, new { title = "listar avaliadores da entidade" })</h2>
        <p>
            Visualizar avaliadores da instituição
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Verificar Solicitações", "verificaSolicitacoes", "Horarios", null, new { title = "Ver horários solicitados por pilotos" })</h2>
        <p>
            Lista os pedidos de horários feitos por pilotos
        </p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Configurações", "configuracoesEntidade", "Manage", null, new { title = "Alterar dados cadastrais de filiais" })</h2>
        <p>
            Altera dados da entidade e suas filiais
        </p>
    </div>

</div>