@model IEnumerable<SySDEAProject.Models.TextoQuestao>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idQuestao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroOrdem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoTexto)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idQuestao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroOrdem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoTexto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idPedacoQuestao }) |
                @Html.ActionLink("Details", "Details", new { id=item.idPedacoQuestao }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.idPedacoQuestao })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
